h3{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj_35PYlOuJBsLMa5xGVaCXCFtqw0bMqJ9Rw&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: brown;
    border: 5px solid brown;
}